# Byte-compiled / optimized / DLL Scraped_data
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3

# Environment variables file
.env

# IDE-specific Scraped_data (PyCharm)
.idea/

# Python virtual environment
venv/
